# Environments
.env
.venv
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.db
*.db-journal
# *.json
*.jsonl
*.parquet
*.hdf5
# data/
!/data/.keep
!manual_twitter_template.json

# Logs
logs/
*.log
!/logs/.keep

# Models
models/
*.joblib
*.pkl
*.h5
*.model
!/models/.keep

# Reports
reports/
*.html
*.pdf
!/reports/.keep

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Other
.Rhistory
twitter_profile/
archive/